<header class="site-header" role="banner">

  <div class="wrapper" style="padding: 80px 30px 100px;">
    <a class="site-title" href="{{ "/" | relative_url}}" style="color: #fff;position: absolute;top:10px;left:10px">← HOME</a>
    <!--<a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>-->
    <p style="font-size: 80px; color: #fff;text-align:center">{{ page.title | escape }}</p>
    <p style="text-align:center">{{ page.sub-title | escape }}</p>

  </div>

</header>
