---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  <!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 style="position:fixed;bottom:0;right:0" src="//music.163.com/outchain/player?type=2&id={{ site.music-id }}&auto=1&height=66"></iframe> -->

</div>
